.mobileVisible {
	display: none;
}

.mobileHidden {
	display: block;
}

.filterBarVisible {
	display: none;
}

.mobileFilterVisible {
	display: none;
}

.mobileFilterHidden {
	display: block;
}

/* 
detail 
--------
*/
#textContainer a:link {
	word-break: break-all;
}

#jobTitle {
	display: inline;
}

#detailHeader {
	color: #f5fffa;
	background-color: #000080;
}
#imgContainer {
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

.imgLogo {
	display: block;
	margin-top: 8px;
	width: 500px !important;
	height: 400px !important;
}

#textContainer {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

/* 
title holder
------------
*/
.titleHolderLogin {
	text-align: center;
	position: relative;
	padding: 0 0 20px;
	margin: 0 0 40px;
}

.titleHolderLogin:after {
	transform: translateX(-50%);
	content: '';
	background: #1890ff;
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 3px;
	width: 50px;
}

.titleHolderLogin h2 {
	font-size: 28px;
	margin: 0;
}

/* 
login
-------
*/
.loginBlock .ant-form {
	max-width: 360px;
	margin: auto;
}

#loginButton {
	width: 100% !important;
}

/* 
registration
-------
*/
.registrationBlock .ant-form {
	max-width: 500px;
	margin: auto;
}

/* 
main
-------
*/
.main > h1 {
	color: #fff;
	font-size: 100px;
	margin-top: -100px;
}

.main > p {
	margin-top: 8px;
	color: #fff;
	font-size: 38px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;
}

.main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	object-fit: contain;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.jobsDiv {
	width: 85%;
	float: right;
}

@media only screen and (max-width: 1431px) {
	.mobileFilterVisible {
		display: block;
	}

	.mobileFilterHidden {
		display: none;
	}

	.jobsDiv {
		width: 100% !important;
	}

	.filterBarVisible {
		display: block;
	}

	.mobileHidden {
		display: none;
	}

	.mobileVisible {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.imgLogo {
		width: 400px !important;
		height: 300px !important;
	}
	.main > h1 {
		font-size: 85px;
		margin-top: -120px;
	}
}

@media screen and (max-width: 1020px) {
	.main > h1 {
		font-size: 80px;
		margin-top: -130px;
	}
}

@media screen and (max-width: 992px) {
	.imgLogo {
		width: 350px !important;
		height: 250px !important;
	}
}

@media screen and (max-width: 960px) {
	.main > h1 {
		font-size: 70px;
		margin-top: -150px;
	}
}

@media only screen and (max-width: 835px) {
	.main > h1 {
		font-size: 55px;
		margin-top: -170px;
	}
	main > p {
		font-size: 20px !important;
	}
	.mobileVisible {
		display: block !important;
	}

	.mobileHidden {
		display: none;
	}

	.filterBarVisible {
		display: none !important;
	}
}

@media screen and (max-width: 780px) {
	.main > h1 {
		font-size: 50px;
		margin-top: -150px;
	}
	main > p {
		font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	#jobTitleBox {
		font-size: 18px;
	}

	.imgLogo {
		width: 300px !important;
		height: 200px !important;
	}

	#detailHeader {
		padding-left: 10px;
		padding-right: 10px;
	}

	#textContainer {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#headerTitle {
		font-size: 18px;
	}
}

@media screen and (max-width: 500px) {
	main > h1 {
		font-size: 20px;
		margin-top: -180px;
	}
	main > p {
		font-size: 15px;
	}
}

@media screen and (max-width: 450px) {
	main > h1 {
		font-size: 20px;
		margin-top: -180px;
	}
	main > p {
		font-size: 15px;
	}
	.imgLogo {
		width: 250px !important;
		height: 150px !important;
	}

	#detailHeader {
		padding-left: 5px;
		padding-right: 5px;
	}

	#textContainer {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 5px;
		margin-right: 5px;
	}

	#jobTitleBox {
		font-size: 16px;
	}

	#jobTitle {
		font-size: 15px;
	}
}

@media screen and (max-width: 295px) {
	.imgLogo {
		width: 200px !important;
		height: 100px !important;
	}
}
